[general]
state_file = /var/awslogs/state/agent-state

[/var/log/cloudwatch.log]
datetime_format = %Y-%m-%d %H:%M:%S
file = /var/log/cloudwatch.log
log_stream_name = {instance_id}/{hostname}/access.log
log_group_name = {{getenv "CLOUDWATCH_LOG_GROUP"}}

[/var/log/supervisord.log]
datetime_format = %Y-%m-%d %H:%M:%S
file = /var/log/supervisord.log
log_stream_name = {instance_id}/{hostname}/supervisord.log
log_group_name = {{getenv "CLOUDWATCH_LOG_GROUP"}}
